@font-face {
    font-family: 'noto-sans-font';
    src: url('./fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf') format('woff2');
    /* src: url('/fonts/PixelifySans-VariableFont_wght.ttf') format('woff2'); */
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-body: grey;
    --background-color-body: black;
    --background-color-nav: #333;
    --color-nav-a: lightgrey;
    --background-color-nav-a-hover: #444;
    --color-h2-h3: lightgrey;
    --border-profile-image: white;
    --border-skills: white;
    --color-list-marker: white;
    --color-h4: #AAA;
    --color-h4-a: lightblue;
}

.light-theme {
    --color-body: grey;
    --background-color-body: white;
    --background-color-nav: #DFDFDF;
    --color-nav-a: grey;
    --background-color-nav-a-hover: lightgrey;
    --color-h2-h3: black;
    --border-profile-image: black;
    --border-skills: black;
    --color-list-marker: black;
    --color-h4: darkgrey;
    --color-h4-a: blue;
}

a {
    display: inline-flex;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-body);
    color: var(--color-body);
    font-family: 'noto-sans-font', sans-serif;
}

nav {
    position: relative;
    height: 5vh;
    background-color: var(--background-color-nav);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

nav li {
    padding: 1.8vh 1vw;
    display: block;
}

nav a {
    text-decoration: none;
    color: var(--color-nav-a);
    font-size: 16px;
    font-family: 'noto-sans-font', sans-serif;
}

.left-items {
    flex: 1;
    justify-content: flex-start;
}

.right-items {
    flex: 1;
    justify-content: flex-end;
}

.right-items li button {
    color: lightgray;
}

.right-items img {
    max-width: 100%;
    max-height: 35px;
}

.left-items li:hover, .right-items li:hover {
    background-color: var(--background-color-nav-a-hover);
    transition: background-color 0.5s ease-in-out;
}

.profile-picture {
    display: flex;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--color-h2-h3);
    align-items: center;
}

.blog-header p {
    padding-left: 2%;
    padding-right: 2%;
}

.like-counter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2%;
}


.heart {
    margin: 0% 0% 2% 0%;
    padding: 2% 2% 2% 2%;
    display: inline-block;
    max-width: 0.5%;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%, transparent 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.like-counter p {
    margin-left: 2%;
    font-size: 30px;
}

.comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-area {
    max-width: 20%;
    padding: 2%;
}

.comment-form, .comment-heading, .comment-submit-button {
    align-self: flex-start;
    margin-left: 2%;
}

.comment-submit-button {
    margin-top: 2%;
    padding: 3% 6%;
    background-color: var(--background-color-nav-a-hover);
    color: var(--color-nav-a);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-input {
    width: 300%;
    background-color: var(--background-color);
    color: var(--color-body);
    outline: none;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    nav ul {
        width: 100%;
        text-align: left;
    }

    nav li {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
    }

    .right-items, .left-items {
        width: 100%;
        justify-content: flex-start;
    }

    nav a {
        padding: 1.5vh 2vw;
    }

    #profile-picture img {
        max-width: 50px;
        max-height: 50px;
        margin-right: 0;
    }

    .left-items, .right-items {
        margin: 10px 0;
    }

   .heart {
        max-width: 5%;
   }
}